*.iml
.gradle
/local.properties
/.idea/artifacts
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetDropDown.xml
/.idea/compiler.xml
/.idea/kotlinc.xml
/.idea/vcs.xml
/.idea/misc.xml
/.idea/inspectionProfiles
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
iosdemo/Podfile.lock
iosdemo/Pods/*
iosdemo/iosdemo.xcworkspace/*
iosdemo/iosdemo.xcodeproj/*
!iosdemo/iosdemo.xcodeproj/project.pbxproj
demo/shared.podspec
kotlin-js-store/*
