[versions]
sdk-compile = "34"
sdk-min = "21"
sdk-target = "34"

compose-bom = "2023.06.01"
chrisbanes-compose-bom = "2023.07.00-alpha01"
compose-compiler = "1.5.0-dev-k1.9.0-6a60475e07f"
accompanist = "0.31.5-beta"
activity-compose = "1.8.0-alpha06"
coil = "2.4.0"
ktor = "2.3.0"
ktx-serialization = "1.5.1"

graphicsshapes = "1.0.0-alpha03"

plugin-android-gradle = "8.1.0-rc01"
plugin-kotlin = "1.9.0"
plugin-detekt = "1.21.0"
plugin-spotless = "6.5.1"
plugin-mavenpublish = "0.21.0"

java-jvmTarget = "17"
java-sourceCompatibility = "17"
java-targetCompatibility = "17"

[libraries]
compose-bom = { module = "androidx.compose:compose-bom", version.ref = "compose-bom" }
chrisbanes-compose-bom = { module = "dev.chrisbanes.compose:compose-bom", version.ref = "chrisbanes-compose-bom" }
compose-foundation = { module = "androidx.compose.foundation:foundation" }
compose-material3 = { module = "androidx.compose.material3:material3" }
compose-ui = { module = "androidx.compose.ui:ui" }
compose-uitooling = { module = "androidx.compose.ui:ui-tooling" }
compose-uitoolingpreview = { module = "androidx.compose.ui:ui-tooling-preview" }
androidx-graphics-shapes = { module = "androidx.graphics:graphics-shapes", version.ref = "graphicsshapes" }
androidx-activitycompose = { module = "androidx.activity:activity-compose", version.ref = "activity-compose" }
accompanist-systemuicontroller = { module = "com.google.accompanist:accompanist-systemuicontroller", version.ref = "accompanist" }

[plugins]
android-application = { id = "com.android.application", version.ref = "plugin-android-gradle" }
android-library = { id = "com.android.library", version.ref = "plugin-android-gradle" }
kotlin = { id = "org.jetbrains.kotlin.android", version.ref = "plugin-kotlin" }
detekt = { id = "io.gitlab.arturbosch.detekt", version.ref = "plugin-detekt" }
spotless = { id = "com.diffplug.spotless", version.ref = "plugin-spotless" }
mavenpublish = { id = "com.vanniktech.maven.publish", version.ref = "plugin-mavenpublish" }
